
{% extends "staffbase.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
   <div class="container-fluid">

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Guest House List</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">

                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>

                                            <th>Serial No </th>
                                            <th>Guest House </th>
                                            <th>Room categories </th>
                                            <th>Is Available </th>
                                            <th>Room No </th>
                                             <th>Room Description</th>
                                            <th>Room Capacity</th>
                                             <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                             <th>Serial No </th>
                                            <th>Guest House </th>
                                            <th>Room categories </th>
                                            <th>Is Available </th>
                                            <th>Room No </th>
                                             <th>Room Description</th>
                                            <th>Room Capacity</th>
                                            <th>Actions</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>

{% for rooms in rooms %}
    <tr>
          <td>{{ forloop.counter }}</td>
        <td>{{ rooms.GuestHouses }}</td>
        <td>{{ rooms.RoomCategories}}</td>
        <td>{{ rooms.is_available }}</td>
         <td>{{ rooms.room_no }}</td>
         <td>{{ rooms.room_desc }}</td>
         <td>{{ rooms.room_capacity }}</td>
        <td>
            <a class="btn btn-success" href="#"><span class="glyphicon glyphicon-pencil" >Edit</span></a>
            <a  class="btn btn-danger" href="#">Delete</a>

        </td>
    </tr>
{% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
{% endblock content %}
