    header {
    background: #981F4D;
    }
    .navbar-light .navbar-nav .nav-link {
    font-size: 16px !important;
    color:black;
    font-weight:bold;
    }
    .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: black;
    font-weight:bold;
    }