{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
     <section>
        <div class="container">
          <div class="row">
            <div class="col-md-6 mx-auto">
              <div class="card">
                <div class="card-header text-black">
                  <h2>Customer Booking Request</h2>
                </div>
                <div class="card-body">
                    <form action="{% url 'request' %}" method="POST" novalidate>
                      {% csrf_token %}
                         {% for field in form.visible_fields %}
                           <div class="form-group">
                               {{ field.label_tag }}
                                  {% render_field field class="form-control" %}
<!--                                    {% if messages%}-->
<!--                                      {% for message in messages %}-->
<!--                                        <span style="color:red">{{ message }}</span>-->
<!--                                      {% endfor %}-->
<!--                                     {% endif %}-->
                         {% endfor %}
                         <br>
                             <input type="submit" value="request" class="btn btn-block btn-primary">
                           </div>
                    </form>
                    <br>

                 </div>
                    </div>
                </div>
              </div>
            </div>

        </div>
      </section>
{% endblock content %}