{% extends 'base.html' %}
{%load static %}
{%block content%}
<div class="container shadow">
    <div class="text-center ">
        <h2>Location</h2></br>
        <iframe class=" rounded-3" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d
        3505.035785915263!2d77.1919144881615!3d28.538644064034525!2m3!1f0!2f0!3f0!3m2!1i1024!2
        i768!4f13.1!3m3!1m2!1s0x390d1df4cfd839c1%3A0x993aaa4122edb3f7!2sNIE%20Guest%20House
        %2C%20NCERT%20Campus%2C%20New%20Delhi!5e0!3m2!1sen!2sin!4v1691781532870!5m2!1se
        n!2sin" width="90%" height="450" style="border: 2px solid rgb(231, 156, 15);" allowfullscreen=""
        loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    </br>
    <div class="p-5 text-center">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-decoration-underline">Email Address</h5>
                        <p class="card-text">Secretary, NCERT : <a href="mailto:secy.ncert@gmail.com">secy.ncert@gmail.com</a></br>
                        NIE Guest House : <a href="mailto:nieghncert@gmail.com">nieghncert@gmail.com</a></p>
                    </div>
                </div>
            </div></br>
            <div class="col-sm-5">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-decoration-underline">Contacts</h5>
                        <p class="card-text text-black">9810792520&nbsp;&nbsp;
                            &nbsp;&nbsp;+91-11-26961921</br>
                            +91-11-26961921 &nbsp;
                        +91-11-26864732</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}