{% extends "base.html" %}
{% load static %}
{% block content %}
<br>


<div class="container overflow-hiddenm p-5 shadow pt-5">


<div class="p-5">
    <div>
        <h4>Important Information</h4>
        <ul>
            <li>All the bookings at NIEGH/PGH are to be done well in advance.</li>
            <li>All those availing the Guest House/PG Hostel are requested to bring and submit a photocopy of their respective proof/ documents/ PPO, etc. along with original ID proof for verification purpose at the time of their check in.</li>
            <li>The checkout time is <b>12:00 Noon</b>.</li>
            <li>Manager NIE-GH reserves the right not to provide accommodation facilities in the Guest House/ PG Hostel or summarily evict the guest in the absence of a valid proof of identity or in the event of violation of any of the rules and regulation of the Guest House.</li>
            <li>It should be ensured by the Guest before leaving the Guest House that all payments have been made and the key of the room has been handed over to the counter.</li>
            <li>Guests going out of the room should place the key of the room on the keyboard at the counter.</li>
            <li>Collection of Rent on working days (i.e., Monday to Friday) shall be done only between 9.30 a.m. to 4.30 p.m.</li>
            <li>Mess charges have to be paid separately to the Mess Contractor.
            </li>
            <li>Only bed-tea will be served in the room. Breakfast, Lunch & Dinner will be served in the dining hall.
            </li>
            <li>Consumption of alcohol is strictly prohibited in the Guest House</li>
        </ul>
    </div>
    <hr>
    <div class="col-md-12 col-sm-12 col-lg-6">
        <table class="table table-bordered align-middle p-5">
            <thead class="table-info text-center">
                <th colspan="2" scope="row">Meal Timings</th>
            </thead>
            <tbody>
                <tr>
                    <td>Bed Tea</td>
                    <td>6 am to 7 am</td>
                </tr>
                <tr>
                    <td>Breakfast </td>
                    <td>8 am to 9 am</td>
                </tr>
                <tr>
                    <td>Lunch</td>
                    <td>1 pm to 2 pm</td>
                </tr>
                <tr>
                    <td>Evening Tea</td>
                    <td>5 pm to 6 pm</td>
                </tr>
                <tr>
                    <td>Dinner</td>
                    <td>8 pm to 9 pm</td>
                </tr>




            </tbody>
        </table>
    </div>
</div>
    </div>
{% endblock content %}


